<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>com.mateuszwiater.csc435.controller.UserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SourcesController</servlet-name>
        <servlet-class>com.mateuszwiater.csc435.controller.SourcesController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SourcesController</servlet-name>
        <url-pattern>/sources</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ArticlesController</servlet-name>
        <servlet-class>com.mateuszwiater.csc435.controller.ArticlesController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ArticlesController</servlet-name>
        <url-pattern>/articles</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PreferenceController</servlet-name>
        <servlet-class>com.mateuszwiater.csc435.controller.PreferenceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PreferenceController</servlet-name>
        <url-pattern>/preference</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RecommendationController</servlet-name>
        <servlet-class>com.mateuszwiater.csc435.controller.RecommendationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RecommendationController</servlet-name>
        <url-pattern>/recommendation</url-pattern>
    </servlet-mapping>

    <!-- REST Mappings -->
    <servlet>
        <servlet-name>LanguageControllerREST</servlet-name>
        <servlet-class>com.mateuszwiater.csc435.rest.controller.LanguageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LanguageControllerREST</servlet-name>
        <url-pattern>/restful/language</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CountryControllerREST</servlet-name>
        <servlet-class>com.mateuszwiater.csc435.rest.controller.CountryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CountryControllerREST</servlet-name>
        <url-pattern>/restful/country</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CategoryControllerREST</servlet-name>
        <servlet-class>com.mateuszwiater.csc435.rest.controller.CategoryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoryControllerREST</servlet-name>
        <url-pattern>/restful/category</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SourcesControllerREST</servlet-name>
        <servlet-class>com.mateuszwiater.csc435.rest.controller.SourcesController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SourcesControllerREST</servlet-name>
        <url-pattern>/restful/sources</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RecommendControllerREST</servlet-name>
        <servlet-class>com.mateuszwiater.csc435.rest.controller.RecommendController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RecommendControllerREST</servlet-name>
        <url-pattern>/restful/recommend</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PreferenceControllerREST</servlet-name>
        <servlet-class>com.mateuszwiater.csc435.rest.controller.PreferenceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PreferenceControllerREST</servlet-name>
        <url-pattern>/restful/preference</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserControllerREST</servlet-name>
        <servlet-class>com.mateuszwiater.csc435.rest.controller.UserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserControllerREST</servlet-name>
        <url-pattern>/restful/user</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ArticlesControllerREST</servlet-name>
        <servlet-class>com.mateuszwiater.csc435.rest.controller.ArticlesController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ArticlesControllerREST</servlet-name>
        <url-pattern>/restful/articles</url-pattern>
    </servlet-mapping>
</web-app>